.additional-options {
}
.additional-options__title {
	margin-bottom: 35px;
	max-width: 412px;
}
.section-header {
}
.additional-options__list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.additional-options__item {
}
.additional-options__link {
    padding: 19px 30px;
    display: flex;

	background-color: #f5f7f8;
	border-radius: 3px;
	overflow: hidden;

	font-size: 18px;
	font-weight: 500;
	line-height: normal;

    transition: background-color .25s,color .25s,transform .25s,-webkit-transform .25s;

    @media screen and (max-width: 768px) {
        padding: 13px 20px;
        font-size: 15px;
    }

    @media screen and (max-width: 380px) {
        font-size: 14px;
        padding: 13px 10px;

    }

    &:hover {
        transform: translateY(-2px);
    }
}
