.certificates {
}


.certificates-slider__box {
    position: relative;
}
.certificates-slider {
    margin-top: 40px;
}

.certificates-slider__wrapper {
}

.certificates-slider__item {
}

.certificates-slider__img {
    margin: 0 auto;
}

.certificates-slider__pagination {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    transform: initial !important;
}

.certificates-slider__prev {
}

.certificates-slider__next {
}
