.footer {
	padding-top: 42px;
	padding-bottom: 42px;
	background-color: #2e2d2e;
	color: #fff;

	.container {
		display: flex;
		justify-content: space-between;
        gap: 40px;

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 660px) {
            gap: 0;
        }
	}

	a {
		color: #fff;
	}
}
.footer__col {
	&.text {
		max-width: 366px;
		font-size: 12px;

        @media screen and (max-width: 660px) {
            padding-bottom: 20px;
            border-bottom: 1px solid #3E3D3E;
            max-width: 100%;
        }
	}
	&.payment {
        font-size: 14px;
        
        .payment-list {
            max-width: 255px;
        }

        @media screen and (max-width: 992px) {
            order: 2;
            min-width: 100%;
        }

        @media screen and (max-width: 660px) {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #3E3D3E;
            order: initial;
        }
	}
	&.contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;

		max-width: 212px;

		// text-align: right;

        @media screen and (max-width: 660px) {
            max-width: 100%;

            padding-top: 20px;

            align-items: flex-start;
            max-width: initial;
            width: 100%;
        }
	}

	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.not-offer {
	color: #828282;
}

.payment-list {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
}
.payment-list__item {
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;

	width: 40px;
	height: 28px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.payment-list__icon {
}
.footer__contacts {
}
.footer-contacts {
}
.footer-contacts__phone {
    display: inline-flex;
    

	font-size: 16px;
	font-weight: 600;
	line-height: 1.35;
}
.footer-contacts__time {
	margin-top: 2px;
	margin-bottom: 6px;

	color: #828282;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.35;
}
.footer-contacts__mail {
    margin-bottom: 23px;
    display: inline-flex;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.35;
}
.footer-contacts__btn {
    min-width: initial;
    background-color: transparent;
    
    @media screen and (max-width: 768px) {
        padding: 12px 30px;
    }
    @media screen and (max-width: 360px) {
        width: 100%;
    }
}
.btn {
}
.footer__bottom {
	display: none;

    @media screen and (max-width: 660px) {
        display: block;
        margin-top: 20px;
        font-size: 12px;
    }

    p {
        margin: 0;
    }

}
