.questions-form {
    align-self: flex-start;

	padding: 66px 46px;

	width: 507px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.questions-form__icon {
	height: 90px;
	display: block;
	margin: 0 auto 24px;
}
.questions-form__title {
    margin: 0 0 30px;

	color: #2e2d2e;
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.05;
}
