.submenu {
    padding: 8px 0;

    @media screen and (max-width: 576px) {
        display: none;
    }
}
.container {
}
.submenu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}
.submenu-list__item {
    border-right: 1px solid #ddd;

    font-size: 13px;
    color: #444;

    &:last-child {
        border-right: none;
    }
}
.submenu-list__item--active {
    span {
        margin: 0 10px;
        font-weight: bold;
    }
}
.submenu-list__link {
    margin: 0 10px;

    text-decoration: none;
    border-bottom: 1px solid #999;

    transition: color .25s, border-bottom .25s;

    &:hover {
        color: var(--color-accent);
        border-bottom: 1px solid var(--color-accent);
    }
}