.systems-rehau {}
.systems-rehau__slider {}
.systems-rehau__wrapper {}
.systems-rehau__item {
}
.sr-item {
    padding: 0 20px 40px;
    display: block;

    background-color: #F5F7F8;
    border-radius: 3px;
}
.sr-item__img {
}
.sr-item__title {
}
.sr-item__info {
}
.sr-item__descr {
}
.property {
}
.property__item {
}
.property-item {
}
.property-item__title {
}
.property-item__chart {
}
.property-item__chart-value {
}
.sr-item__price {
}