.additional-options.indent
    .container
        h2.additional-options__title.section-header Дополнительные опции и аксессуары

        ul.additional-options__list
            li.additional-options__item
                a.additional-options__link(href="#") Теплое остекление
            li.additional-options__item
                a.additional-options__link(href="#") Пластиковые окна с установкой
            li.additional-options__item
                a.additional-options__link(href="#") Ламинация
            li.additional-options__item
                a.additional-options__link(href="#") Калькулятор окон
            li.additional-options__item
                a.additional-options__link(href="#") Цены на окна
            li.additional-options__item
                a.additional-options__link(href="#") Калькулятор балконов