.advantages-v3.indent
	.container
		.advantages-v3__box
			.advantages-v3__item.adv3-item
				.adv3-item__icon
					img(src="img/advantages-v3/01.svg", alt="", loading="lazy")
				p.adv3-item__descr гарантия качества на всех этапах работы
			.advantages-v3__item.adv3-item
				.adv3-item__icon
					img(src="img/advantages-v3/02.png", alt="", loading="lazy")
				p.adv3-item__descr официальный партнер REHAU
			.advantages-v3__item.adv3-item
				span.adv3-item__title 22 года
				p.adv3-item__descr производим пластиковые окна и двери в Москве