mixin adv2-item(icon, title, descr)
	.advantages-v2__item.adv2-item
		.adv2-item__box
			.adv2-item__icon
				img(src="img/advantages-v2/"+icon, alt="", loading="lazy")
			span.adv2-item__title #{title}
		p.adv2-item__descr #{descr}
	

section.advantages-v2.indent
	.container
		h2.advantages-v2__title.section-header Преимущества заказа в компании «ОкнаР»

		.advantages-v2__box
			+adv2-item(
				'01.svg',
				'Соответствие стандартам',
				'Наше производство и установка соответствует всем необходимым стандартам ГОСТ и качество подтверждено сертификатами на все материалы, продукцию и услуги компании.'
			)
			+adv2-item(
				'02.svg',
				'Минимальное время установки',
				'Прямая поставка с завода позволяет быстро доставить, а опытные монтажные бригады установить за один день. Срок от заказа до установки в квартире - всего от 1 недели.'
			)
			+adv2-item(
				'03.svg',
				'Современные технологии',
				'Мы тесно сотрудничаем с производителями профиля Rehau и стеклопакетов, чтобы дать нашим клиентам самый передовой и инновационный продукт удовлетворяющий современным пожеланиям.'
			)
			+adv2-item(
				'04.svg',
				'Лучшая изоляция',
				'Наши специалисты подберут профиль для любых погодных условий. Даже в самые суровые зимы у вас в квартире будет тепло и тихо. Для любой задачи в нашем ассортименте есть решение.'
			)
			+adv2-item(
				'05.svg',
				'Рассрочка',
				'Закажи рассрочку без переплат и первоначального взноса. Оформление за 20 минут без справок о доходах, залогов и поручителей.'
			)
			+adv2-item(
				'06.svg',
				'Высокое качество',
				'При производстве мы используем только качественные материалы от мировых брендов. Немецкие профили, австрийская фурнитура, европейский стеклопакеты - всё это гарантирует лучший результат.'
			)