.baner-02
    img(src="img/baner-02/bg.jpg", alt="", loading="lazy")
    .box
        p.price
            span.text Цена от:
            | 6 828&nbsp;
            span.currency руб./м
                sup 2
        p.descr Предлагаем заказать окна Рехау в нашей компании – официального партнёра немецкого бренда Rehau! Не нужно задумываться, какие купить окна себе домой, смело выбирайте этого проверенного временем производителя!
        .adv
            .adv-item
                span 40 лет
                | срок службы
            .adv-item
                span 5 лет
                | гарантии
        .form-box
            p Запишитесь на бесплатный замер
            form(action="#").form
                input(type="text", name="name", placeholder="Имя")
                input(type="tel", name="tel", placeholder="+7 (___) ___ - __ - __")
                input(type="submit", value="Отправить заявку").btn.banner-form__btn