.baner-03.indent
    .container
        .baner-03__inner
            .baner-03__box
                h2.baner-03__title.section-header Рассрочка на окна-ПВХ до 6 месяцев без переплат и процентов
                p.baner-03__descr Рассрочка на окна-ПВХ до 6 месяцев без переплат и процентов. Для тех, кто не готов сразу купить полный комплект оконных конструкций, предоставляется рассрочка или кредит.
                a.baner-03__btn.btn Условия рассрочки

                //- a(href="")