.baner-04.indent
    .container
        .baner-04__inner
            .baner-04__box
                h2.baner-04__title Скидки на окна и двери
                a.baner-04__btn.btn.btn-light Подробнее
            .baner-04__sale до
                span -18%