.breadcrumbs
	.container
		.breadcrumbs-box
			a(href='#', itemprop='url')
				span(itemprop='title') Главная
			|›
			a(href='#', itemprop='url')
				span(itemprop='title') Пластиковые окна REHAU
			|›
			a(href='#', itemprop='url')
				span(itemprop='title') Дополнительные опции
			|›
			a(href='#', itemprop='url')
				span(itemprop='title') Ламинация профиля


