.container.indent
	.calculator
		.calculator-grid
			.calculator-grid__item.one
				p.calculator-title 1. Выберите количество секций окна
				ul.tab-btns
					li.tab-btns__item
						.tab-btns__box
							img(src="img/calculator/1_1.png", alt="")
							span.pc Односекционное
						span.mob 1 секция

						.type-submenu-inner
							ul.type-submenu
								li.type-submenu__item(data-min-width="300" data-max-width="1000" data-min-height="1000" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/1_1.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="400" data-max-width="1100" data-min-height="1100" data-max-height="1800")
									img.type-submenu__img(src="img/calculator/1_2.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="300" data-max-width="1000" data-min-height="1000" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/1_3.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="300" data-max-width="1000" data-min-height="1000" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/1_4.png", alt="")
									span Поворотная вверх



					li.tab-btns__item
						.tab-btns__box
							img(src="img/calculator/2_2.png", alt="")
							span.pc 2-х секционное
						span.mob 2 секции

						.type-submenu-inner
							ul.type-submenu
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/2_1.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/2_2.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/2_3.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/2_4.png", alt="")
									span Поворотная вверх
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/2_5.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1500" data-max-height="2100")
									img.type-submenu__img(src="img/calculator/2_6.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1500" data-max-height="2100")
									img.type-submenu__img(src="img/calculator/2_7.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="1000" data-max-width="1600" data-min-height="1500" data-max-height="2100")
									img.type-submenu__img(src="img/calculator/2_8.png", alt="")
									span Поворотная вверх


					li.tab-btns__item
						.tab-btns__box
							img(src="img/calculator/3_4.png", alt="")
							span.pc 3-х секционное
						span.mob 3 секции

						.type-submenu-inner
							ul.type-submenu
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_1.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_2.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_3.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_4.png", alt="")
									span Поворотная вверх
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_5.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_6.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_7.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_8.png", alt="")
									span Поворотная вверх
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_9.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_10.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_11.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_12.png", alt="")
									span Поворотная вверх
								li.type-submenu__item(data-min-width="1400" data-max-width="2000" data-min-height="1100" data-max-height="1700")
									img.type-submenu__img(src="img/calculator/3_13.png", alt="")
									span Поворотная вверх

					//- li.tab-btns__item
						img(src="img/calculator/5_2.png", alt="")
						span.pc 4-х секционное
						span.mob 4 секции
					li.tab-btns__item
						.tab-btns__box
							img(src="img/calculator/4_4.png", alt="")
							span.pc Двери
						span.mob Двери

						.type-submenu-inner
							ul.type-submenu
								li.type-submenu__item(data-min-width="450" data-max-width="1050" data-min-height="1800" data-max-height="2400")
									img.type-submenu__img(src="img/calculator/4_1.png", alt="")
									span Глухая створка
								li.type-submenu__item(data-min-width="450" data-max-width="1050" data-min-height="1800" data-max-height="2400")
									img.type-submenu__img(src="img/calculator/4_2.png", alt="")
									span Поворотная влево
								li.type-submenu__item(data-min-width="450" data-max-width="1050" data-min-height="1800" data-max-height="2400")
									img.type-submenu__img(src="img/calculator/4_3.png", alt="")
									span Поворотно/откидная левая
								li.type-submenu__item(data-min-width="450" data-max-width="1050" data-min-height="1800" data-max-height="2400")
									img.type-submenu__img(src="img/calculator/4_4.png", alt="")
									span Поворотная вверх


				p.tab-btns__info
					img(src="img/calculator/hand.svg", alt="")
					| Наведите на окно и выберите тип створки

			.calculator-grid__item.two
				p.calculator-title 2. Укажите размеры окна
				.two-wrapper
					.calculator__input-box
						label
							| Ширина
						input.value-width(type="text" name="" value="0" placeholder="750")
					.calculator__input-box
						label
							| Высота
						input.value-height(type="text" name="" placeholder="2100")
				.calculator__preview
					img(src="img/calculator/1_1.png", alt="")
					.range-slider-01
					.range-slider-02
					span.calculator__preview-title Глухая створка

			.calculator-grid__item.three
				p.calculator-title 3. Задайте дополнительные характеристики

				.three-grid
					.col-01
						span.three-grid__title Профиль:

						.calculator-select
							.calculator-select__current
								.title REHAU Blitz
								.icon
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#2E2D2E"/></svg>

							.calculator-select__variants
								.variants-item.toggle REHAU Blitz
								.variants-item REHAU Grazio
								.variants-item REHAU Delight

						span.three-grid__title Отлив:

						.calculator-select
							.calculator-select__current
								.title не выбран
								.icon
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#2E2D2E"/></svg>

							.calculator-select__variants
								.variants-item.toggle не выбран
								.variants-item Отлив 110 (Жесть) белый
								.variants-item Отлив 110 (Жесть) коричневый
								.variants-item Отлив 150 (Жесть) белый
								.variants-item Отлив 150 (Жесть) коричневый
								.variants-item Отлив 200 (Жесть) белый
								.variants-item Отлив 200 (Жесть) коричневый
								.variants-item Отлив 250 (Жесть) белый
								.variants-item Отлив 250 (Жесть) коричневый

					.col-02
						span.three-grid__title Подоконник:

						.calculator-select
							.calculator-select__current
								.title не выбран
								.icon
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6L9.33013 0H0.669873L5 6Z" fill="#2E2D2E"/></svg>

							.calculator-select__variants
								.variants-item.toggle не выбран
								.variants-item 150 мм (ПВХ) белый
								.variants-item 250 мм (ПВХ) белый
								.variants-item 350 мм (ПВХ) белый
								.variants-item 450 мм (ПВХ) белый
								.variants-item 550 мм (ПВХ) белый
					.col-03
						span.three-grid__title Ламинация профиля:

						label
							input(type="radio", name="lamin", checked)
							span.radio-title без ламинации
						label
							input(type="radio", name="lamin")
							span.radio-title односторонняя ламинация
						label
							input(type="radio", name="lamin")
							span.radio-title двухсторонняя ламинация

					.col-04
						label
							input(type="checkbox", name="assemble")
							span.checkbox-title Монтаж окон
						label
							input(type="checkbox", name="turnkey")
							span.checkbox-title Отделка откосов

			.calculator-grid__item.four
				p Цена окна:
				.calculator-price__box
					span.calculator__price 34.191
					span.calculator__currency ₽
				p Дополнительные опции:
				ul
					li
						b Ламинация:
						span 3764 ₽
					li
						b Подоконник:
						span 0 ₽
					li
						b Отлив:
						span 0 ₽
					li
						b Монтаж:
						span 0 ₽
					li
						b Отделка:
						span 5.663 ₽ (с учетом материалов)
				.calculator__btn-box
					a.calculator__btn(href="#").btn Заказать окно
					a(href="#").calculator__question Есть вопросы?

