.compare-profile.indent
	.container
		h2.section-header Сравнение профилей REHAU

		.compare-profile__inner
			.compare-profile__box

				.compare-profile__grid

					.compare-profile__item.title Профиль
					.compare-profile__item.title
						a(href="#") Rehau Blitz
					.compare-profile__item.title
						a(href="#") Rehau Grazio
					.compare-profile__item.title
						a(href="#") Rehau Delight
					.compare-profile__item.title
						a(href="#") Rehau Intelio

					.compare-profile__item Оконный профиль в разрезе
					.compare-profile__item
						img(src="img/compare-profile/compare_table-1@2x.jpg", alt="").h75
					.compare-profile__item
						img(src="img/compare-profile/compare_table-2@2x.jpg", alt="").h75
					.compare-profile__item
						img(src="img/compare-profile/compare_table-3@2x.jpg", alt="").h75
					.compare-profile__item
						img(src="img/compare-profile/compare_table-4@2x.jpg", alt="").h75

					.compare-profile__item Ширина профиля
					.compare-profile__item
						span Ширина профиля
						| 60 мм
					.compare-profile__item
						span Ширина профиля
						| 70 мм
					.compare-profile__item
						span Ширина профиля
						| 70 мм
					.compare-profile__item
						span Ширина профиля
						| 80 мм

					.compare-profile__item Количество камер
					.compare-profile__item
						span Количество камер
						| 3
					.compare-profile__item
						span Количество камер
						| 5
					.compare-profile__item
						span Количество камер
						| 5
					.compare-profile__item
						span Количество камер
						| 6

					.compare-profile__item Ламинация
					.compare-profile__item
						span Ламинация
						| возможна
					.compare-profile__item
						span Ламинация
						| возможна
					.compare-profile__item
						span Ламинация
						| возможна
					.compare-profile__item
						span Ламинация
						| возможна

					.compare-profile__item Ширина стеклопакета
					.compare-profile__item
						span Ширина стеклопакета
						| 24-32 мм
					.compare-profile__item
						span Ширина стеклопакета
						| 32-40 мм
					.compare-profile__item
						span Ширина стеклопакета
						| 32-40 мм
					.compare-profile__item
						span Ширина стеклопакета
						| 42-53 мм

					.compare-profile__item Теплопакет™
					.compare-profile__item
						span Теплопакет™
						| опция
					.compare-profile__item
						span Теплопакет™
						| по умолчанию
					.compare-profile__item
						span Теплопакет™
						| по умолчанию
					.compare-profile__item
						span Теплопакет™
						| по умолчанию

					.compare-profile__item Цвет уплотнения
					.compare-profile__item
						span Цвет уплотнения
						| черный
					.compare-profile__item
						span Цвет уплотнения
						| черный
					.compare-profile__item
						span Цвет уплотнения
						| белый
					.compare-profile__item
						span Цвет уплотнения
						| черный

					.compare-profile__item Коэффициент теплозащиты
					.compare-profile__item
						span Коэффициент теплозащиты
						| 0,70
					.compare-profile__item
						span Коэффициент теплозащиты
						| 0,85
					.compare-profile__item
						span Коэффициент теплозащиты
						| 0,80
					.compare-profile__item
						span Коэффициент теплозащиты
						| 0,98

					.compare-profile__item Звукоизоляция
					.compare-profile__item
						span Звукоизоляция
						| 25 дБ
					.compare-profile__item
						span Звукоизоляция
						| 39-45 дБ
					.compare-profile__item
						span Звукоизоляция
						| 35 дБ
					.compare-profile__item
						span Звукоизоляция
						| 40 дБ

					.compare-profile__item Светопропускание
					.compare-profile__item.light
						span Светопропускание
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
					.compare-profile__item.light
						span Светопропускание
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
					.compare-profile__item.light
						span Светопропускание
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
					.compare-profile__item.light
						span Светопропускание
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")
						img(src="img/compare-profile/sun.svg", alt="")

					.compare-profile__item Цена за м²
					.compare-profile__item.price
						span Цена за м²
						| 6 828 ₽
					.compare-profile__item.price
						span Цена за м²
						| 7 615 ₽
					.compare-profile__item.price
						span Цена за м²
						| 7 986 ₽
					.compare-profile__item.price
						span Цена за м²
						| 8 898 ₽

					.compare-profile__item
					.compare-profile__item.action
						a.btn(href="#") Заказать
					.compare-profile__item.action
						a.btn(href="#") Заказать
					.compare-profile__item.action
						a.btn(href="#") Заказать
					.compare-profile__item.action
						a.btn(href="#") Заказать


			.compare-profile__next.swiper-button-next
			.compare-profile__prev.swiper-button-prev

		.compare-profile__pagination
			span.active
			span
			span
			span