.container.indent
    .content
        h1 Калькулятор стоимости пластиковых окон Rehau
        p Оконный калькулятор компании «Окна Р» создан для помощи нашим клиентам, которые хотят рассчитать стоимость окон «Рехау». Полученный результат является предварительным. Необходимо бесплатно вызвать замерщика для более точного расчета стоимости. Она будет указана в договоре при оформлении заказа.