.container.indent
    .content
        h1 Пластиковые окна Rehau с установкой
        include ../includes/baner-02
        include ../includes/more-detailed-links
        p Профили концерна Rehau являются самыми качественными и востребованными на рынке – каждое третье окно ПВХ в квартирах в Москве изготовлено из него. Мы устанавливаем окна от производителя в Москве и ближайшей области. Закажите пластиковые окна прямо сейчас, ведь только в этом месяце мы проводим уникальную акцию!