.container.indent
    .content
        h1 Пластиковые окна в Москве от производителя
        p Более 20 лет компания «ОкнаР» производит и устанавливает недорогие окна от производителя Rehau.Мы можем предложить клиентам пластиковые окна нестандартных форм, витражные, ламинированные, тонированные, готовые и на заказ. Окна, выполненные на заводе Рехау, предоставляются клиентам по оригинальной стоимости без дополнительных наценок
