.container.indent
	.content
		ul.additional-options__list
			li.additional-options__item
				a.additional-options__link(href="#") Окна под ключ
			li.additional-options__item
				a.additional-options__link(href="#") Балкон под ключ
			li.additional-options__item
				a.additional-options__link(href="#") Теплый балкон
			li.additional-options__item
				a.additional-options__link(href="#") Холодное остекление
			li.additional-options__item
				a.additional-options__link(href="#") Остеклить коттедж

		h2 Окна REHAU с установкой в Москве и Подмосковье
		//- include ../includes/baner-02
		//- include ../includes/more-detailed-links
		p Компания «Окна Р» – официальный партнер компании Rehau, предлагает недорогие оконные конструкции от производителя в Москве и Московской области. Надежность и безопасность наших окон ПВХ подтверждают сертификаты качества, а также фирменная маркировка на профилях. Продукция Rehau идеально подходит для эксплуатации в условиях российского климата, в особенности в Москве и Подмосковье.
		p Низкая стоимость позволяет купить окна Rehau сразу во все помещения. Также у нас вы можете приобрести окна ПВХ в рассрочку.