
mixin cr-item(name, contract, adress, text)
	.cr-slider__item.cr-item.swiper-slide
		.cr-item__box
			.cr-item__name #{name}
			.cr-item__rating.ci-rating
				.ci-rating__item
				.ci-rating__item
				.ci-rating__item
				.ci-rating__item
				.ci-rating__item
		.cr-item__inner
			.cr-item__text
				p #{text}
			span.cr-item__text-more Читать далее
		p.cr-item__info
			span.contract
				b Договор №:
				| #{contract}
			span.adress #{adress}

section.customer-reviews.indent
	.container
		.customer-reviews__box
			h2.customer-reviews__title.section-header Отзывы наших клиентов

			.customer-reviews__slider-box
				.customer-reviews__slider.cr-slider.swiper
					.cr-slider__wrapper.swiper-wrapper
						+cr-item(
							'Елена Васильевна',
							'17400067',
							'Одинцовский район',
							'Заказывали пластиковые окна (Rehau Гжель) в частный дом. Выбрали именно эту компанию, поскольку цена на окна не завышена, и качество хорошее (видели результаты их работы у соседа по участку). На сайте оставили заявку на расчёт стоимости (окна нестандартных размеров, нужно было считать индивидуально), вскоре позвонила девушка-менеджер Елена, посчитала примерную сумму во сколько нам обойдутся окна вместе с установкой и обшивкой откосов. Окна сделали в течение трех недель. Устанавливали три дня (два дня занял монтаж окон и один день обшивали все проемы откосами). Мнтажники работали аккуратно, с перерывами, но вполне адекватными, по долгу без дела не сидели. Большим плюсом этой компании считаю бесплатную доставку и продолжительную гарантию не только на окна, но и на установочные работы.'
						)
						+cr-item(
							'Шакиров Айнур Маратович',
							'17400067',
							'Москва',
							'Заказывал в данной организации остекление балкона, результатом доволен. Если конкретнее, то очень меня порадовала работа сотрудников, никаких проблем не было, быстрые ответы на любые запросы, помощь в подборе комплектации. С моим заказом работали менеджер Ольга, замерщик Павел Евгеньевич и бригада установщиков Вагитова Георгия. Все очень вежливые и работу свою выполняют профессионально. Особенно мне понравились установщики, все сделали аккуратно, помогли собрать мусор в конце и снять защитные плёнки. Объяснили как правильно пользоваться и что делать, если нужно створки отрегулировать самому, показали это в инструкции к окнам. Ну и качеством окон я тоже остался доволен, пользуюсь хоть и недолго пока, но никаких нареканий нет: ручки открываются плавно и бесшумно!'
						)
						+cr-item(
							'Маргарита Велиткина',
							'17400067',
							'Внуково',
							'В компании заказывали окна в гостиную в частный дом. Выбрали их так как они предлагают бесплатное обслуживание в течении года после установки и хорошую гарантию на продукцию. Заказывали 21.01 и менеджер указала, что изготовление займёт около восьми дней, но по итогу сделали быстрее. Правда устанавливали довольно долго, возникли проблемы с демонтажем старых окон. Да и монтажники работали неторопливо, но главное, что в итоге сделали всё очень качественно. От окон не дует, стёкла не запотевают. Да и качество самих стеклопакетов на высоте, фурнитура крепкая, открываются легко, ни скрипов, ни заеданий нет.'
						)

				.customer-reviews__pagination
				.customer-reviews__prev.swiper-button-prev
				.customer-reviews__next.swiper-button-next

			a(href="#").customer-reviews__all Все отзывы