.footer-top
    .container
        .footer-top__box

            .footer-top__col
                span.footer-top__title Пластиковые окна Rehau
                ul.footer-top__menu.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна REHAU Blitz
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна REHAU Grazio
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна REHAU Delight
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна REHAU Intelio
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна в Подмосковье
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Цены на пластиковые окна
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Калькулятор окон
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Ламинация окон

            .footer-top__col
                span.footer-top__title Пластиковые двери Rehau
                ul.footer-top__menu.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Rehau офисные двери
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Rehau балконные двери
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Rehau входные двери
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Одностворчатые окна REHAU
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Двухстворчатые окна REHAU
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Трехстворчатые окна REHAU
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна под ключ
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Пластиковые окна в Хрущевку

            .footer-top__col
                span.footer-top__title Остекление балконов
                ul.footer-top__menu.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Холодное остекление балконов
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Теплое остекление балконов
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Окна REHAU для дачи
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Панорамное остекление
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Отделка балконов
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Балконный блок
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Калькулятор балконов
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Остекление коттеджей

            .footer-top__col
                span.footer-top__title Услуги
                ul.footer-top__menu.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Отделка откосов
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Вызов замерщика
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Установка дверей
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Установка окон
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Рассрочка
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Оплатить заказ
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Оферта

            .footer-top__col
                span.footer-top__title Компания
                ul.footer-top__menu.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Новости
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Производство
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Сертификаты
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Полезная информация
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Отзывы
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Вакансии
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Контакты