header.header
    .header-top
        .container
            ul.header-top__menu.top-menu
                li.top-menu__item
                    a.top-menu__link(href="#") Стоимость по ТИПУ дома
                li.top-menu__item
                    a.top-menu__link(href="#") Оплатить онлайн
                li.top-menu__item
                    a.top-menu__link(href="#") Наши работы



            img.header-top__logo.top-logo(src="img/icons/rehau.svg", alt="")

            .header-top__info.top-info
                span.top-info__schedule 7 дней в неделю 9:00 – 21:00
                a.top-info__phone(href="tel:84953088466") +7 (495) 308-84-66
    
    .header-bottom
        .container
            a.header-bottom__calc.btn.btn__icon(href="#") 
                img(src="img/icons/calc.svg", alt="")
                | Калькулятор окон
            a.header-bottom__logo(href="#") 
                img(src="img/logo.jpg", alt="")
                | Окна РЕХАУ в Москве<br> и Подмосковье
            a.header-bottom__request.btn(href="#") Заказать звонок