header.header
	.header-top
		.container
			ul.header-top__menu.top-menu
				li.top-menu__item
					a.top-menu__link(href="#") Стоимость по ТИПУ дома
				li.top-menu__item
					a.top-menu__link(href="#") Оплатить онлайн
				li.top-menu__item
					a.top-menu__link(href="#") Наши работы



			img.header-top__logo.top-logo(src="img/icons/rehau.svg", alt="")

			.header-top__info.top-info
				span.top-info__schedule 7 дней в неделю 9:00 – 21:00
				a.top-info__phone(href="tel:84953088466") +7 (495) 308-84-66
	
	.header-bottom
		.container
			a.header-bottom__calc.btn.btn__icon(href="#") 
				img(src="img/icons/calc.svg", alt="")
				| Калькулятор окон
			a.header-bottom__logo(href="/")
				img(src="img/logo.jpg", alt="").logo-pc
				img(src="img/oknap-mob.svg", alt="").logo-mob
				//- span ОКНА Р
				| Окна РЕХАУ в Москве<br> и Подмосковье
			a.header-bottom__request.btn(href="#") Заказать звонок

			.header-bottom__btns.hb-btns
				a.hb-btns__item(href="/oplata/")
					<svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M2.125 0h24.819c.886 0 1.625.7 1.55 1.54v17.92c0 .84-.738 1.54-1.624 1.54H2.125C1.239 21 .5 20.3.5 19.46V1.54C.5.7 1.239 0 2.125 0Zm23.267 1.75H3.672c-.735 0-1.09 0-1.262.177-.16.166-.16.487-.16 1.106v2.25h24.5v-2.25c0-.63 0-.95-.16-1.113-.167-.17-.506-.17-1.198-.17Zm1.358 7.572H2.25v8.645c0 .62 0 .94.16 1.106.172.177.527.177 1.262.177h21.656c.738 0 1.093 0 1.263-.177.159-.165.159-.482.159-1.094V9.322ZM25 12.25h-7v5.25h7v-5.25Z" clip-rule="evenodd"></path></svg>
					span оплата
				a.hb-btns__item(href="tel:+74997590178")
					<svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="none"><path fill="currentColor" d="M6.554 15.946C2.698 12.091 1.199 9.35.814 7.636c-.386-1.714-.686-4.541.814-6.04L2.613.61c.814-.813 2.184-.813 3.041 0L8.44 3.395c.814.814.814 2.185 0 3.041L7.41 7.464c-.814.814.128 2.442 2.655 4.97 2.528 2.527 4.113 3.47 4.97 2.655l1.028-1.028c.814-.814 2.184-.814 3.041 0l2.785 2.785c.813.814.813 2.184 0 3.041l-.986.985c-1.499 1.5-4.326 1.2-6.04.814-1.713-.428-4.455-1.927-8.31-5.74Z"></path></svg>
					span звонок
				.hb-btns__item.jsMobileMenuBtnToggle
					<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="26" height="4" fill="currentColor"></rect><rect y="8" width="26" height="4" fill="currentColor"></rect><rect y="16" width="26" height="4" fill="currentColor"></rect></svg>
					span меню
					