section.manufacturers-price.indent
    .container
        .manufacturers-price__box
            h2.section-header Окна Rehau по цене производителя
            p.manufacturers-price__descr Производство на собственном заводе позволяет нам предлагать клиентам изготовление пластиковых окон любых форм и размеров, гибкую систему скидок, широкий выбор дополнительных опций на заказ в Москве и области.
            p.manufacturers-price__value-mob 
                | от 
                span 6 828 ₽/м2
            a.btn(href="#") Подробнее

    .manufacturers-price__value-pc 
        | от 
        span 6 828 ₽/м2