nav.nav
	.container
		ul.nav-menu
			li.nav-menu__item
				a.nav-menu__link(href="#") Пластиковые окна
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") REHAU Blitz New
					li.nav-menu__item
						a.nav-menu__link(href="#") REHAU Grazio
					li.nav-menu__item
						a.nav-menu__link(href="#") REHAU Delight
					li.nav-menu__item
						a.nav-menu__link(href="#") REHAU Intelio 80
					li.nav-menu__item
						a.nav-menu__link(href="#") Комплектующие
					li.nav-menu__item
						a.nav-menu__link(href="#") Ламинированные окна
					li.nav-menu__item
						a.nav-menu__link(href="#") Нестандартные окна
					li.nav-menu__item
						a.nav-menu__link(href="#") Окна под ключ
					li.nav-menu__item
						a.nav-menu__link(href="#") Типовые размеры
			li.nav-menu__item
				a.nav-menu__link(href="#") Балконы и лоджии
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Онлайн калькулятор
					li.nav-menu__item
						a.nav-menu__link(href="#") Теплое остекление
					li.nav-menu__item
						a.nav-menu__link(href="#") Холодное остекление
					li.nav-menu__item
						a.nav-menu__link(href="#") Панорамное остекление
					li.nav-menu__item
						a.nav-menu__link(href="#") Отделка балкона
					li.nav-menu__item
						a.nav-menu__link(href="#") Остекление в Подмосковье
			li.nav-menu__item
				a.nav-menu__link(href="#") Двери
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Балконные двери
					li.nav-menu__item
						a.nav-menu__link(href="#") Входные двери
					li.nav-menu__item
						a.nav-menu__link(href="#") Двери для офиса
					li.nav-menu__item
						a.nav-menu__link(href="#") Комплектующие для дверей
			li.nav-menu__item
				a.nav-menu__link(href="#") Дома и коттеджи
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Остекление коттеджей
					li.nav-menu__item
						a.nav-menu__link(href="#") Холодное остекление веранды
					li.nav-menu__item
						a.nav-menu__link(href="#") Теплое остекление веранды
					li.nav-menu__item
						a.nav-menu__link(href="#") Остекление беседки
					li.nav-menu__item
						a.nav-menu__link(href="#") Остекление террасы
			li.nav-menu__item
				a.nav-menu__link(href="#") Цены
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Калькулятор окон
					li.nav-menu__item
						a.nav-menu__link(href="#") Цены на окна с установкой
					li.nav-menu__item
						a.nav-menu__link(href="#") Цены на окна с ламинацией
					li.nav-menu__item
						a.nav-menu__link(href="#") Окна по серии дома
					li.nav-menu__item
						a.nav-menu__link(href="#") Распродажа готовых окон
					li.nav-menu__item
						a.nav-menu__link(href="#") Калькулятор остекления балконов
					li.nav-menu__item
						a.nav-menu__link(href="#") Жалюзи и шторы
					li.nav-menu__item
						a.nav-menu__link(href="#") Рассрочка и кредит
			li.nav-menu__item
				a.nav-menu__link(href="#") Услуги
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Установка окон по ГОСТу
					li.nav-menu__item
						a.nav-menu__link(href="#") Бесплатный замер
					li.nav-menu__item
						a.nav-menu__link(href="#") Доставка
					li.nav-menu__item
						a.nav-menu__link(href="#") Демонтаж
					li.nav-menu__item
						a.nav-menu__link(href="#") Отделка откосов
					li.nav-menu__item
						a.nav-menu__link(href="#") Сервисное обслуживание
			li.nav-menu__item
				a.nav-menu__link(href="#") Акции
			li.nav-menu__item
				a.nav-menu__link(href="#") О компании
				ul.nav-menu__submenu
					li.nav-menu__item
						a.nav-menu__link(href="#") Производство
					li.nav-menu__item
						a.nav-menu__link(href="#") Отзывы
					li.nav-menu__item
						a.nav-menu__link(href="#") Сертификаты
					li.nav-menu__item
						a.nav-menu__link(href="#") Гарантия
					li.nav-menu__item
						a.nav-menu__link(href="#") Партнеры
					li.nav-menu__item
						a.nav-menu__link(href="#") Вакансии
					li.nav-menu__item
						a.nav-menu__link(href="#") Фотогалерея
					li.nav-menu__item
						a.nav-menu__link(href="#") Наша история
					li.nav-menu__item
						a.nav-menu__link(href="#") Наши награды
					li.nav-menu__item
						a.nav-menu__link(href="#") Способы оплаты
					li.nav-menu__item
						a.nav-menu__link(href="#") Новости
					li.nav-menu__item
						a.nav-menu__link(href="#") Реквизиты
					li.nav-menu__item
						a.nav-menu__link(href="#") Обратная связь
					li.nav-menu__item
						a.nav-menu__link(href="#") Контакты













