.mobile-menu
    .mobile-menu__wrapper
        .mobile-menu__box
        

        .contacts-info
            a(href="tel:+74951530732").contacts-info__phone +7 (495) 153-07-32
            span.contacts-info__grafik ежедневно c 9:00 до 20:00

            .btn-box
                a(href="#SIMPLE_FORM_1").btn
                    | Перезвоним за 25 секунд

