.more-detailed
    a.more-detailed__link(href="#") Сравнение профилей REHAU
    a.more-detailed__link(href="#") Цены на окна Рехау
    a.more-detailed__link(href="#") Стоимость остекления под ключ
    a.more-detailed__link(href="#") Отзывы
    a.more-detailed__link(href="#") Сертификаты