section.our-works.indent
    .container
        .our-works__info
            h2.ow-info__title.section-header Наши работы
            .ow-info__box
                p.ow-info__item
                    span.title
                        span.accent 22+ 
                        span.dark лет
                    span.descr успешно работаем на рынке
                p.ow-info__item
                    span.title
                        span.accent 365 
                        span.dark дней
                    span.descr непрерывного сервиса и заботы
                p.ow-info__item
                    span.title
                        span.accent 7500
                        //- span.dark
                    span.descr клиентов ежегодно
                p.ow-info__item
                    span.title
                        span.accent 120 000+ 
                        span.dark окон
                    span.descr Изготовили и установили в Москве и МО
            a.btn(href="#") Оставить заявку

        .our-works__slider.ow-slider.swiper
            .ow-slider__wrapper.swiper-wrapper
                .ow-slider__item.swiper-slide
                    img(src="img/our-works/01-1.jpg", alt="", loading="lazy")
                    img(src="img/our-works/01-2.jpg", alt="", loading="lazy")
                .ow-slider__item.swiper-slide
                    img(src="img/our-works/02-1.jpg", alt="", loading="lazy")
                    img(src="img/our-works/02-2.jpg", alt="", loading="lazy")
                .ow-slider__item.swiper-slide
                    img(src="img/our-works/03-1.jpg", alt="", loading="lazy")
                    img(src="img/our-works/03-2.jpg", alt="", loading="lazy")
                .ow-slider__item.swiper-slide
                    img(src="img/our-works/04-1.jpg", alt="", loading="lazy")
                    img(src="img/our-works/04-2.jpg", alt="", loading="lazy")
                .ow-slider__item.swiper-slide
                    img(src="img/our-works/05-1.jpg", alt="", loading="lazy")
                    img(src="img/our-works/05-2.jpg", alt="", loading="lazy")

            .our-works__pagination
            .our-works__next.swiper-button-next
            .our-works__prev.swiper-button-prev