section.prices-rehau
    .container
        <h2 class="section-header">Окна Rehau по цене производителя</h2>

        .pr-slider.swiper
            .pr-btns
            .pr-slider__wrapper.swiper-wrapper
                .pr-slider__item.swiper-slide
                    .slider-windows
                        .slider-windows__wrapper
                            .slider-windows__item.sw-item
                                a(href="#").sw-item__top
                                    img.sw-item__img(src="img/prices-rehau/01.jpg", alt="")
                                    h3.sw-item__title Одностворчатое окно
                                .sw-item__descr
                                    p 
                                        b Размеры:
                                        | 600 х 1200 мм (0,72 м2)
                                    p 
                                        b Профиль:
                                        | Blitz, 3 камеры, 60 мм
                                    p 
                                        b Стеклопакет:
                                        | 32 мм
                                    p 
                                        b Фурнитура:
                                        | Maco
                                .sw-item__price
                                    | 6 828 ₽/м2
                                    span под ключ: 17 800 ₽
                                .sw-item__bottom
                                    a.btn(href="#") Рассчитать
                                    a.btn.btn-light(href="#") Подробнее

                            .slider-windows__item.sw-item
                                a(href="#").sw-item__top
                                    img.sw-item__img(src="img/prices-rehau/01.jpg", alt="")
                                    h3.sw-item__title Одностворчатое окно
                                .sw-item__descr
                                    p 
                                        b Размеры:
                                        | 600 х 1200 мм (0,72 м2)
                                    p 
                                        b Профиль:
                                        | Blitz, 3 камеры, 60 мм
                                    p 
                                        b Стеклопакет:
                                        | 32 мм
                                    p 
                                        b Фурнитура:
                                        | Maco
                                .sw-item__price
                                    | 6 828 ₽/м2
                                    span под ключ: 17 800 ₽
                                .sw-item__bottom
                                    a.btn(href="#") Рассчитать
                                    a.btn.btn-light(href="#") Подробнее

                            .slider-windows__item.sw-item
                                a(href="#").sw-item__top
                                    img.sw-item__img(src="img/prices-rehau/01.jpg", alt="")
                                    h3.sw-item__title Одностворчатое окно
                                .sw-item__descr
                                    p 
                                        b Размеры:
                                        | 600 х 1200 мм (0,72 м2)
                                    p 
                                        b Профиль:
                                        | Blitz, 3 камеры, 60 мм
                                    p 
                                        b Стеклопакет:
                                        | 32 мм
                                    p 
                                        b Фурнитура:
                                        | Maco
                                .sw-item__price
                                    | 6 828 ₽/м2
                                    span под ключ: 17 800 ₽
                                .sw-item__bottom
                                    a.btn(href="#") Рассчитать
                                    a.btn.btn-light(href="#") Подробнее

                            .slider-windows__item.sw-item
                                a(href="#").sw-item__top
                                    img.sw-item__img(src="img/prices-rehau/01.jpg", alt="")
                                    h3.sw-item__title Одностворчатое окно
                                .sw-item__descr
                                    p 
                                        b Размеры:
                                        | 600 х 1200 мм (0,72 м2)
                                    p 
                                        b Профиль:
                                        | Blitz, 3 камеры, 60 мм
                                    p 
                                        b Стеклопакет:
                                        | 32 мм
                                    p 
                                        b Фурнитура:
                                        | Maco
                                .sw-item__price
                                    | 6 828 ₽/м2
                                    span под ключ: 17 800 ₽
                                .sw-item__bottom
                                    a.btn(href="#") Рассчитать
                                    a.btn.btn-light(href="#") Подробнее

                .pr-slider__item.swiper-slide
                    | 222
                        

                .pr-slider__item.swiper-slide
                    | 333
                        

                .pr-slider__item.swiper-slide
                    | 444
                        
