section.quality-guarantee.indent
	.container
		.quality-guarantee__inner

			.quality-guarantee__box
				h2.quality-guarantee__title.section-header Гарантия качества на всех этапах работ
				p.quality-guarantee__descr Чтобы вся производимая нами продукция служила долго и надежно - мы проверяем выполнение стандартов и правил на всех этапах работ: от поставки материала и производства до службы доставки и монтажа.
				a.quality-guarantee__btn.btn Оставить заявку