section.questions.indent
    .container
        h2.section-header Частые вопросы про пластиковые окна
        .questions-box
            include ../includes/questions-faq
            include ../includes/questions-form

