form(action="").questions-form.form
	img.questions-form__icon(src="img/icons/question.svg", alt="")
	p.questions-form__title Остались вопросы? <br>Задайте их специалисту.
	textarea(name="content", placeholder="Напишите ваш вопросы")
	input(type="tel", name="tel", placeholder="Номер телефона")
	select(name="")
		option(value="") Где получить ответ
		option(value="") Получить ответ в What’sApp
		option(value="") Получить ответ по телефону
		input(type="submit", value="Отправить").btn.banner-form__btn
