.questions-faq
    .questions-faq__item.toggle
        p.faq-item__title Что следует учитывать при выборе окна?
        .faq-item__content
            p В зависимости от потребностей, насколько важно сохранение тепла, этажности (чем выше, тем шире профиль рекомендуется, чтобы выдержать ветровые нагрузки), и выбирается ширина профильной системы.
            p При выборе стеклопакета учитывается, солнечная ли сторона, шумная ли сторона, квартира ли это, частный дом или летняя дача (не для зимнего проживания).

    .questions-faq__item
        p.faq-item__title Какую фурнитуру для окон мы используем?
        .faq-item__content
            p Фурнитура у нас ведущих европейских производителей. Но мы не ограничиваемся базовым набором элементов (лишь бы открывалось/закрывалось). Наша фурнитура расширенной комплектации (микролифт, блокиратор ошибочного открывания, приподниматель створки).

    .questions-faq__item
        p.faq-item__title Почему другие компании тоже предлагают REHAU, но у них цена дешевле?
        .faq-item__content
            p Причина в том, что Окно – это сборная конструкция, состоящая из ПВХ профиля, стеклопакета, фурнитуры, армирования внутри пластика, уплотнительной резины. Мало взять профиль Рехау. Если при этом поставить в окно низкопробное стекло, дешевую фурнитуру, не укрепить пластик изнутри армированием, то такое окно не прослужит долго. Дешевые комплектующие приводят к снижению стоимости, да. Но при этом такие окна потребуют замены через год-два. Такая экономия – выльется потом в расходы в два раза больше.
            p Не стоит забывать про монтаж. У нас централизованная закупка монтажных материалов через отдел снабжения у проверенных поставщиков, материалы качественные, проверенные годами. А как экономят другие фирмы – они покупают на ближайшем рынке самые дешевые материалы. Качество такого монтажа оставляет желать лучшего.

    .questions-faq__item
        p.faq-item__title Когда лучше ставить окна — до начала ремонта или после?
        .faq-item__content
            p Окна лучше устанавливать до ремонта.

    .questions-faq__item
        p.faq-item__title Как долго служат пластиковые окна?
        .faq-item__content
            p Окно состоит из ПВХ профиля, стеклопакета, фурнитуры, армирования внутри пластика, уплотнительной резины. От всех составляющих окна зависит в конечном счете срок службы. Если речь про пластик (его устойчивость к перепадам температур, способности не желтеть), то при должном уходе прослужит 50 лет.
            p Срок службы окна зависит и от фурнитуры, от обслуживания ее, от ухода за ней. Фурнитуру нужно смазывать, регулировать. При должном уходе она прослужит не один десяток лет.

    .questions-faq__item
        p.faq-item__title Какие самые энергосберегающие стеклопакеты?
        .faq-item__content
            p Энергосберегающую функцию несут на себе стеклопакеты. Поскольку стеклопакет это 80% окна, вся нагрузка по сохранению тепла лежит прежде всего на нем. Стекло с энергосбережением позволит сохранить тепло – (1) Теплопакет. (2) Мультифункциональное стекло - Мультипакет (3 в 1).

    .questions-faq__item
        p.faq-item__title Как быстро устанавливаются окна.
        .faq-item__content
            p На одно окно уходит 1-2 часа. Окно под ключ (с откосами) порядка 3 часов.

    .questions-faq__item
        p.faq-item__title Работаете за пределами МКАД или только по Москве?
        .faq-item__content
            p Работаем до 200 км от МКАД, в зависимости от стоимости и объема заказа.

    .questions-faq__item
        p.faq-item__title Ваша компания сама изготавливает окна? Вы производитель?
        .faq-item__content
            p Да, у нас свое производство.
