section.systems-rehau.indent
    .container
        h2.section-header Профильные системы Rehau
        ul.systems-rehau__slider
            .systems-rehau__wrapper
                a.systems-rehau__item.sr-item(href="#")
                    img.sr-item__img(src="img/systems-rehau/01.png", alt="")
                    h3.sr-item__title Blitz
                    span.sr-item__info Доступно каждому
                    p.sr-item__descr Rehau Blitz - обновленная версия базового профиля Рехау - недорогое и практичное решение для остекления квартир, балконов и дачных домов.
                    .property
                        .property__item.property-item
                            span.property-item__title Свет
                            .property-item__chart
                                .property-item__chart-value
                        .property__item.property-item
                            span.property-item__title Тепло
                            .property-item__chart
                                .property-item__chart-value
                        .property__item.property-item
                            span.property-item__title Шум
                            .property-item__chart
                                .property-item__chart-value
                    .sr-item__price
                        span от
                        | 6 828 ₽/м2