.window-installment.indent
    .container
        .window-installment__box
            h2.window-installment__title.section-header Рассрочка на окна-ПВХ до 6 месяцев без переплат и процентов
            p.window-installment__descr Для тех, кто не готов сразу купить полный комплект оконных конструкций, предоставляется рассрочка или кредит.
            a.window-installment__btn.btn Условия рассрочки