.window-rehau.indent
    .container
        h2.window-rehau__title.section-header Окна Rehau в Москве
        p Компания «ОкнаР» – производитель и официальный партнер компании REHAU, предлагает окна из пластика с установкой "под ключ". На заводе "Rehau" производятся оконные конструкции под заказ любых форм и размеров с учетом всех особенностей оконного проема и установки. Вы можете выбрать:

        ul
            li тип профиля - Blitz (Euro), Grazio, Delight, Brillant, Geneo или Intelio;
            li цвет или вариант ламинации профиля;
            li стеклопакеты;
            li ручки и фурнитуру;
            li комплектацию;
            li дополнительные аксессуары (москитные сетки, подоконники, детские замки, раскладки в стеклопакет или витражи, шторы и жалюзи).

        h2 Наша гарантия
        p Мы предоставляем гарантию на всю производимую продукцию от 5 лет. Качество изделий подтверждают соответствующие сертификаты и фирменная маркировка REHAU. Монтаж оконных систем нашими специалистами – гарантия безупречной эксплуатации изделий в течение десятилетий.