section.window-selection.indent
	.container
		.window-selection__box 
			h2.window-selection__title.section-header Подберем окна под ваш бюджет и предложим лучший вариант
			p.window-selection__descr Оставьте заявку и наш менеджер свяжется с вами в ближайшее время!

		form(action="#").form
			input(type="text", name="name", placeholder="Имя").banner-form__input
			input(type="tel", name="tel", placeholder="+7 (___) ___ - __ - __").banner-form__input
			input(type="submit", value="Оставить заявку").btn.banner-form__btn