section.window-designer.indent
	.container
		.window-designer__box

			.left
				.info
					h2.info-title.section-header Создай окно своей мечты прямо сейчас
					p.info-descr Выберите цвета и фактуру
				.window-designer__tabs.windes-tabs
					.windes-tabs__btns
						.windes-tabs__btn.toggle Ламинация
						.windes-tabs__btn Ручки
					.windes-tabs__contents
						.windes-tabs__content.toggle
							.lamination
								.lamination-item
									.lamination-item__view
									| Махагон
								.lamination-item
									.lamination-item__view
									| Дуб
								.lamination-item
									.lamination-item__view
									| Темный дуб
								.lamination-item
									.lamination-item__view
									| Орех
								.lamination-item
									.lamination-item__view
									| Светлый дуб
								.lamination-item
									.lamination-item__view
									| Зимний дуглас
								.lamination-item
									.lamination-item__view
									| Береза розовая
								.lamination-item
									.lamination-item__view
									| Орегон
								.lamination-item
									.lamination-item__view
									| Светло-серый
								.lamination-item
									.lamination-item__view
									| Серый агат

						.windes-tabs__content
							.handles
								.handles-item
									.handles-item__view
									| Белый
								.handles-item
									.handles-item__view
									| Титан
								.handles-item
									.handles-item__view
									| Серебро
								.handles-item
									.handles-item__view
									| Шампань
								.handles-item
									.handles-item__view
									| Коричневый
								.handles-item
									.handles-item__view
									| Золото
								.handles-item
									.handles-item__view
									| Черный
								.handles-item
									.handles-item__view
									| Темное золото

			.right
				.laminator
					.laminator-texture
					.laminator-fg
					.laminator-handle.laminator-handle__01
					.laminator-handle.laminator-handle__02