//- window-delivery - baner-01
section.window-delivery.indent
    .container
        .window-delivery__box
            h2.window-delivery__title.section-header Доставка пластиковых окон
            .window-delivery__descr
                ul 
                    li Цена 1650 руб.в пределах МКАД
                    li + 50 руб./км за МКАД
                    li Грузовые автомобили оборудованные пирамидами
                    li Защитная пленка на оконных профилях
                    li Ручной подъем 50 руб./этаж
            a.window-delivery__btn.btn(href="#") Подробнее