section.window-designer.indent
	.container
		.window-designer__box

			.left
				.info
					h2.info-title.section-header Создай окно своей мечты прямо сейчас
					p.info-descr Выберите цвета и фактуру
				.window-designer__tabs.windes-tabs
					.windes-tabs__btns
						.windes-tabs__btn.toggle Ламинация
						.windes-tabs__btn Ручки
					.windes-tabs__contents
						.windes-tabs__content.toggle
							.lamination
								.lamination-item
									.lamination-item__view.toggle(style="background-image: url('img/window-designer/lamination/1.jpg');")
									| Махагон
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/2.jpg');")
									| Дуб
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/3.jpg');")
									| Темный дуб
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/4.jpg');")
									| Орех
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/5.jpg');")
									| Светлый дуб
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/6.jpg');")
									| Зимний дуглас
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/7.jpg');")
									| Береза розовая
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/8.jpg');")
									| Орегон
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/9.jpg');")
									| Светло-серый
								.lamination-item
									.lamination-item__view(style="background-image: url('img/window-designer/lamination/10.jpg');")
									| Серый агат

						.windes-tabs__content
							.handles
								.handles-item
									.handles-item__view.toggle(style="background-image: url('img/window-designer/handles/rt1_o.png');")
									| Белый
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt2_o.png');")
									| Титан
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt3_o.png');")
									| Серебро
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt4_o.png');")
									| Шампань
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt5_o.png');")
									| Коричневый
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt6_o.png');")
									| Золото
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt7_o.png');")
									| Черный
								.handles-item
									.handles-item__view(style="background-image: url('img/window-designer/handles/rt8_o.png');")
									| Темное золото

			.right
				.laminator
					.laminator-texture(style="background-image: url('img/window-designer/lamination/2.jpg');")
						img(src="img//window-designer/rama2.png", alt="")
					.laminator-fg
					.laminator-handle.laminator-handle__01(style="background-image: url('img/window-designer/handles/rt1_o.png');")
					.laminator-handle.laminator-handle__02(style="background-image: url('img/window-designer/handles/rt1_o.png');")