include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        //- include ../includes/preloader
        //- include ../includes/header
        //- include ../includes/menu

        main
            include ../includes/banner-fw
            include ../includes/advantages
            include ../includes/content
            include ../includes/systemsRehau
            include ../includes/pricesRehau
