include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        //- include ../includes/header
        //- include ../includes/menu

        main
            include ../includes/banner-fw
            include ../includes/advantages
            include ../includes/content
            include ../includes/systemsRehau
            include ../includes/manufacturers-price
            include ../includes/prices-rehau
            include ../includes/window-delivery
            include ../includes/our-works
            include ../includes/window-selection
            include ../includes/additional-options
            include ../includes/window-installment
            include ../includes/advantages-v2
            include ../includes/quality-guarantee
            include ../includes/window-calculator
            include ../includes/customer-reviews
            include ../includes/window-selection
            include ../includes/window-rehau
            include ../includes/footer-top
            include ../includes/our-awards
