include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/header
        include ../includes/menu
        include ../includes/submenu

        main
            include ../includes/breadcrumbs
            //- include ../includes/banner-fw
            //- include ../includes/advantages
            //- include ../includes/content
            include ../includes/content-plastikovye-okna
            include ../includes/systemsRehau
            include ../includes/advantages-v3
            include ../includes/prices-rehau
            include ../includes/baner-03-02
            //- include ../includes/manufacturers-price
            //- include ../includes/window-delivery
            include ../includes/our-works
            include ../includes/how-to-order
            include ../includes/baner-04
            include ../includes/compare-profile
            include ../includes/why-popular
            include ../includes/options
            include ../includes/certificates
            include ../includes/window-selection
            include ../includes/additional-options
            include ../includes/advantages-v2
            include ../includes/quality-guarantee
            include ../includes/window-calculator
            include ../includes/questions
            include ../includes/customer-reviews
            include ../includes/window-selection
            //- include ../includes/window-rehau
            include ../includes/content-plastikovye-okna-02
            include ../includes/footer-top
            include ../includes/our-awards
        include ../includes/mobile-menu
        include ../includes/footer


//- content-plastikovye-okna